<%= form_for(@stockprice) do |f| %>
  <% if @stockprice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stockprice.errors.count, "error") %> prohibited this stockprice from being saved:</h2>

      <ul>
      <% @stockprice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
